@()(implicit request: RequestHeader, flash: Flash) @main("Login") {

<div class="container">
  <h2 class="my-2">Login</h2>

  <form method="get" action="/validateGet1" class="form-group my-3">
    <p>Log in with GET (NOT SECURE, JUST FOR TESTING)</p>
    <div>
      <label for="name">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" />
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-sm btn-secondary my-2" />
    </div>
  </form>

  <form
    method="post"
    action="@routes.taskList1.validateLoginPost()"
    class="form-group my-3"
  >
    @helper.CSRF.formField
    <p>Log in with POST</p>
    <div>
      <label for="name">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" />
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-sm btn-info my-2" />
    </div>
  </form>

  <hr class="my-3 text-dark" />

  <form
    method="post"
    action="@routes.taskList1.createUser()"
    class="form-group my-3"
  >
    @helper.CSRF.formField
    <p>Create new user</p>
    <div>
      <label for="name">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" />
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-sm btn-info my-2" />
    </div>
  </form>
</div>
}
